/* Import Tailwind base styles, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular (normal weight and normal style) */
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
    url('/fonts/helvetica/Helvetica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Bold (bold weight and normal style) */
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
    url('/fonts/helvetica/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Italic (normal weight and italic style) */
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
    url('/fonts/helvetica/Helvetica-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Bold Italic (bold weight and italic style) */
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
    url('/fonts/helvetica/Helvetica-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Light (light weight and normal style) */
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
    url('/fonts/helvetica/Helvetica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Light Italic (light weight and italic style) */
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
    url('/fonts/helvetica/Helvetica-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Apply the font globally */
@layer base {
  :root {
    --radius: 0.5rem;
    font-family: "Helvetica", Arial, sans-serif;
  }
}


/* Customize slick dots */
.stories {
  .slick-dots li {
    width: 160px;
  }

  .slick-dots {
    bottom: -85px;
  }

  .slick-dots .slick-active {
    .slicccc---str {
      background-color: #000000;
      text-align: start;
      padding: 5px 20px;
      color: white;
      border-left: 2px solid white;
    }
  }
}